body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

.banner {
    background-image: url(./images/zooBanner.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -350px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    background-color: #1e3d59;
}

.overlay-text {
    font-size: 2em;
    padding-top: 100px;
}

nav {
    text-align: center;
    background-color: #1e3d59;
    color: #b3e6b5;
    padding: 20px;
}

nav a {
    color: #b3e6b5;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
}

img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 10px auto;
}

h1,
h2 {
    text-align: center;
    color: #1e3d59;
}

footer {
    text-align: center;
    background-color: #1e3d59;
    color: #b3e6b5;
    padding: 10px;
}